{
  "swagger": "2.0",
  "info": {
    "version": "0.1.0",
    "title": "REST API specifications experiment"
  },
  "host": "pim.brandifyer.dev",
  "basePath": "/pim_backend",
  "paths": {
    "/objects": {
      "get": {
        "tags": [
          "objects"
        ],
        "description": "request available objects",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "GET:/objects successful",
            "schema": {
              "$ref": "#/definitions/object"
            }
          }
        }
      }
    },
    "/objects/{id}": {
      "get": {
        "tags": [
          "object"
        ],
        "description": "request single object record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of object to fetch",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "object response",
            "schema": {
              "$ref": "#/definitions/object"
            }
          },
          "500": {
            "description": "Request processing failed"
          }
        }
      }
    },
    "/field-definitions": {
      "get": {
        "tags": [
          "field-definitions"
        ],
        "description": "request all field-definitions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "GET:/field-definitions successful",
            "schema": {
              "$ref": "#/definitions/field-definition"
            }
          },
          "500": {
            "description": "Request processing failed"
          }
        }
      }
    }
  },
  "definitions": {
    "object": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "objectType": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "customerid": {
          "type": "integer",
          "format": "int64"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time"
        },
        "childObjectsCount": {
          "type": "integer",
          "format": "int64"
        },
        "links": {
          "type": "object",
          "properties": {
            "fieldgroups": {
              "type": "string"
            },
            "childTableObjects": {
              "type": "string"
            },
            "parentHierarchies": {
              "type": "string"
            },
            "childHierarchies": {
              "type": "string"
            },
            "fieldValues": {
              "type": "string"
            },
            "attachments": {
              "type": "string"
            }
          }
        }
      }
    },
    "field-definition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "customerid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "format": {
          "type": "string"
        },
        "info": {
          "type": "string"
        },
        "fieldType": {
          "type": "integer",
          "format": "int64"
        },
        "translatable": {
          "type": "boolean"
        },
        "editable": {
          "type": "boolean"
        },
        "fieldSelect": {
          "type": "integer",
          "format": "int64"
        },
        "measurementUnit": {
          "type": "integer",
          "format": "int64"
        },
        "links": {
          "type": "object",
          "properties": {
            "fieldSelectOptions": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}